name: playground
on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
jobs:
  playground:
    name: playground
    permissions: write-all
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - uses: actions/checkout@v3
      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Run the tests
        run: bun run playground
        env:
          RUN_PLAYGROUND: true
          PAYMASTER_URL: ${{ secrets.PAYMASTER_URL }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          BUNDLER_URL: ${{ secrets.BUNDLER_URL }}
          CHAIN_ID: 84532
          CI: true